/* ----------------------------------------------------------------
  Default
-----------------------------------------------------------------*/

body {
/*    font-size: 16px;
    color: black;
    font-family: Helvetica, arial;*/
    padding: 0;
    margin: 0;
}

.landing-display {
}

.redText {
    color: red
}


.full-display {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;/*
    margin-top: -365px;*/
}

.content-display {
   min-height: 500px;
   width: 720px;
   margin: auto;
/*   padding: 1rem;*/
   /* border: solid;*/
}

.consent-display {
    width: 75%;
}

.stimulus-display {
    font-size: 72px;
    margin: auto;
    text-align: center;
}


.reminder-display {
  width: 300px;;
  padding-left: 25px;
  padding-top: 25px;
  text-align: left;
}

#clock {
/*  font-size: 64px;*/
}

.bttn {
   width: 200px;
   text-align: center;    
}

.bttn:focus {
  transform: none;
  opacity: 1;
  transition: opacity .15s ease-out;
  /* copy the opacity transition from 'active' selector for a more smooth change of states */
}

.b-left {
  margin-right: auto
}

.b-right {
  margin-left: auto
}

.absolute-center {
    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}

/* ----------------------------------------------------------------
  Loading
-----------------------------------------------------------------*/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/*----------------------------------------------------------------
Likert questionnair
-----------------------------------------------------------------*/
.likert-wrap {
  font:12px Arial, san-serif;
}
h1.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}

h1.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}
form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}

